---
layout: main
---

{%if not( section) %}
    {% set section = 'developers' %}
{% endif %}
<div id="page">
    <div class="sideNav">
        {% for group in navigation[section] %}
            <div>
                <span class="nav-header">{{group.section}}</span>
                {% for destination in group.contents %}
                    {% if destination.children %}
                        <a href="{{destination.url}}" class="{% if page.url == destination.url%} active{% endif %}">{{destination.title}}</a>
                        {% for child in destination.children %}
                            <a href="{{child.url}}" style="padding-left: 32px;" {% if page.url == child.url%} class="active" {% endif %}>{{child.title}}</a>
                        {% endfor %}
                    {% else %}
                        <a href="{{destination.url}}" title="{{ page.url}} contains {{destination.url}}" {% if page.url == destination.url%} class="active"{% endif %}>{{destination.title}}</a>
                    {% endif %}
                {% endfor %}

            </div>
        {% endfor %}
    </div>
    <div class="mainBody">
        <h1>{{title}}</h1>
        <div style="display:flex;justify-content:space-between;">
            <a href="https://github.com/axelarnetwork/documentation/edit/main/{{page.inputPath}}">Suggest Edits</a>
            {% island "feedback.tsx", "client:load" %}{% endisland %}
        </div>
        {{ content | safe }}

    </div>
</div>